---
---

@import "{{ site.theme }}";

body, html {
    height: 100%;
    margin: 0;
}

#banner_pic {
    background-image: url('../images/soil.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing {
    align:middle;
}
