---
---

@import "{{ site.theme }}";

#banner_pic {
  background: url('../images/soil.jpg');
  width: 1200px;
  height: auto;
  position: relative;
  padding: 50px 10px 30px 10px;
  margin: 0 auto;
}

